/*
* ALL
*/
*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: arial;
}


/*
* HEADER
*/
header{
	height: 200px;
	background-image: url("../img/1396.png");
	overflow: hidden;
}

header img{
	width: 180px;
}

/*
* MENU
*/

/*
* SECTION
*/
#description{
	width : 150px;
	height : 200px;

}