/*
* ALL
*/
*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: arial;
}


/*
* HEADER
*/
header{
	height: 200px;
	background-image: url("../img/1396.png");
	overflow: hidden;
}

header img{
	width: 180px;
}

/*
* MENU
*/
#menu{
	height:50px;
	background-color: #303030;
	overflow: hidden;
}

#menu li{
	overflow:hidden;
	height:50px;
	text-align:center;
	display: inline-block;
}
#menu a{
	display:block;
	height:50px;
	color:white;
}
#menu li:hover{
	background-color: #2db2ea;
}
/*
* SECTION
*/
section p{
	width : 150px;
	height : 200px;
	margin-top : 20px;
}



/*Fin de section*/

