
/***************************************************ALL********************************************************/
*{
	margin: 0px;
	padding: 0px;
	list-style-type : none;
	font-family : arial;
}
/****************************************************--FORM-TICKET--*******************************************/
h2{
}

.formTicket{
	border : 1px solid black;
	width : 500px;
	height : 400px;
	margin : center;
	padding : 20px;
}
.formTicket input{
	margin: 30px;
}
.formTicket label{
	margin: left;
}